@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  background: rgb(34, 28, 28);
  overflow: hidden;
}

nav {
  height: 5vh;
  background: rgb(34, 28, 28);
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  top: 0;
  right: 0;
  padding-bottom: 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  font-size: 1em;
}

.nav-link a {
  color: white;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  padding: 30px;
}

.hide {
  display: none;
}

/* zamjeniti za druge klase wrapper i outer-wrapper za mobitel*/
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  overflow: hidden;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.slide {
  width: 100vw;
  height: 100vh;
}
.one {
  background: #efdefe;
}
.two {
  background: #a3f3d3;
}
.three {
  background: #0bbaa0;
}
.four {
  background: #00dfdf;
}

.app-container {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid orange;
}

.upper-background {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 25vh;
}

.title-container {
  border: 1px lightblue solid;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-size: 4em;
  color: white;
  line-height: 0.5;
}

.text {
  color: white;
}

.input-container {
  height: 5em;
  width: 15em;
  border: 1px lightgreen solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-container {
  border: 3px solid blue;
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Nunito', sans-serif;
  margin-top: 5em;
}

.color-question {
  border: 2px dotted gray;
  height: 100%;
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-container {
  height: 30em;
  width: 15em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15%;
  overflow: hidden;
}

.color {
  height: 100%;
  width: 90%;
  cursor: pointer;
  transition: all 1s ease-in;
  margin: 5px;
}

.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}
.purple {
  background: purple;
}
.orange {
  background: orange;
}

.mood-question {
  border: 2px dotted gray;
  height: 100%;
  width: 33vw;
}

.cause-question {
  border: 2px dotted gray;
  height: 100%;
  width: 33vw;
}

@media only screen and (max-width: 768px) {
  nav {
    top: 0; /* required for sticky; the position where it should stick in the end*/
    position: sticky;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 20%;
    z-index: 2;
  }
  .line {
    width: 30px;
    height: 3px;
    margin: 6px;
    background: white;
  }
  .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background: rgb(114, 60, 60);
    /*create mask ->*/
    clip-path: circle(50px at 90% -30%);
    transition: all 1s ease-out;
    justify-content: center;
  }
  .nav-links.open {
    clip-path: circle(1100px at 90% -30%);
  }
  .nav-link a {
    line-height: 10vh;
  }

  .app-container {
    width: 100%;
  }
  .about-container {
    width: 100%;
  }
  .question-container {
    flex-direction: column;
    width: 80vw;
    height: auto;
    border: 3px solid black;
    align-items: center;
  }
  .color-container {
    height: 50vh;
  }
  .color-question,
  .mood-question,
  .cause-question {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 640px) {
  .title {
    font-size: 4em;
  }
}

@media only screen and (max-width: 550px) {
  .title {
    font-size: 3em;
  }
  .display-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .movie-poster {
    width: 80vw;
    height: auto;
  }
}

@media only screen and (max-width: 350px) {
  .title {
    font-size: 2em;
  }
}
